body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
}

/* CENTER CONTAINER */
.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD STYLE */
.auth-card{
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

/* HEADINGS */
.auth-card h2{
    margin-bottom: 5px;
    color: #1f2937;
}

.auth-card p{
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 20px;
}

/* LABELS */
.auth-card label{
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #374151;
}

/* INPUTS */
.auth-card input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
}

/* FOCUS EFFECT */
.auth-card input:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59,130,246,0.3);
}

/* BUTTON */
.auth-card button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.auth-card button:hover{
    background: #2563eb;
}

/* SWITCH TEXT */
.switch a{
    color: #3b82f6;
    text-decoration: none;
}

/* MESSAGES */
.message{
    color: red !important;
    margin-bottom: 10px;
    font-size: 14px;
}

@media (max-width: 768px){
    body{
        padding: 10px;
    }
    .container{
        width: 100%;
        padding: 10px;
    }
    table, .box{
        width: 100%;
        overflow-x: auto;
    }
    input, button{
        width: 100%;
        margin-bottom: 10px;
    }
}